{% load i18n %} {% if messages %}
<div class="oh-wrapper">
  {% for message in messages %}
  <div class="oh-alert-container">
    <div class="oh-alert oh-alert--animated {{message.tags}}">
      {{ message }}
    </div>
  </div>
  {% endfor %}
  <script>
    setTimeout(function () {
      $(".oh-modal__close").click();
    }, 1000);
  </script>
</div>
{% endif %}
<div class="oh-modal__dialog-header">
  <h2 class="oh-modal__dialog-title" id="biometricDeviceEditLavel">
    {% trans "Edit Biometric Devices" %}
  </h2>
  <button
    type="button"
    class="oh-modal__close"
    data-dismiss="oh-modal"
    aria-label="Close"
    {% if messages %}
      hx-target="#biometricDeviceList"
      hx-get="{% url 'search-devices' %}?page=1&view=card"
    {% endif %}
  >
    <ion-icon name="close-outline"></ion-icon>
  </button>
  <div class="oh-modal__dialog-body p-0 pt-2" id="biometricDeviceEditModalBody">
    <form
      hx-post="{% url 'biometric-device-edit' device_id  %}"
      hx-target="#BiometricDeviceFormTarget"
      id="biometricDeviceEditForm"
    >
      {% csrf_token %} {{form.errors}} {{biometric_form.non_field_errors}}
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="oh-input-group">
          <label class="oh-label">{% trans "Name" %}</label>
          {{biometric_form.name}}
        </div>
        <div class="oh-input-group">
          <label class="oh-label">{% trans "Device Type" %}</label>
          {{biometric_form.machine_type}}
        </div>
        <div class="oh-input-group" id="machinIpInput" style="display: none">
          {{biometric_form.machine_ip.errors}}
          <label class="oh-label">{% trans "Machine IP" %}</label>
          {{biometric_form.machine_ip}}
        </div>
        <div class="oh-input-group" id="machinPortInput" style="display: none">
          {{biometric_form.port.errors}}
          <label class="oh-label">{% trans "Port No" %}</label>
          {{biometric_form.port}}
        </div>
        <div class="oh-input-group" id="apiUrlInput" style="display: none">
          {{biometric_form.api_url.errors}}
          <label class="oh-label">{% trans "API Url" %}</label>
          {{biometric_form.api_url}}
        </div>
        <div class="oh-input-group" id="apiKeyInput" style="display: none">
          {{biometric_form.api_key.errors}}
          <label class="oh-label">{% trans "API Key" %}</label>
          {{biometric_form.api_key}}
        </div>
        <div class="oh-input-group" id="apiSecretInput" style="display: none">
          {{biometric_form.api_secret.errors}}
          <label class="oh-label">{% trans "API Secret" %}</label>
          {{biometric_form.api_secret}}
        </div>
      </div>
      <div class="oh-dropdown__filter-footer">
        <button class="oh-btn oh-btn--secondary oh-btn--small w-100">
          {% trans "Save" %}
        </button>
      </div>
    </form>
  </div>
</div>
<script>
  $(document).ready(function (e) {
    $('select[name="machine_type"]').change();
  });
</script>
